.d-none {
    display: none;
}

#slider-container-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
}

#slider-container img {
    width: 100%;
}

button {
    position: absolute;
    top: 50%;
    cursor: pointer;
    font-size: 1.5rem;
}

#prev-button {
    left: -100px;
}

#next-button {
    right: -100px;
}

